.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #FAEABC;
  color:#504d48;
}


header {
  min-height: 60vh;
  background: url('./img/bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container {
  margin-top: 1rem;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
}

.nav {
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  margin-inline: 3rem;
  font-size: 1.2rem;
}

.headline {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}

.headline .text {
  color: burlywood;
  font-weight: 600;
}

.btn {
  color: beige;
  background-color: #2a2927;
  padding: 1rem 2rem;
  /* margin-top: 1rem; */
  justify-content: center;
  font-weight: 600;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
}

.cakeContainer {
  margin: 8rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.input {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  /* color:#2a2927; */
  background-color: #FAEABC;
}

h3{
  font-weight: 600;
}


